<li class="table-row" data-test-account-list-row={{this.identifier}}>
  {{#each @attributes as |attr|}}
    <div class="table-column">
      <Ui::MaterialInput
        @input-id="{{attr}}-{{@account.id}}"
        @value={{mut (get @account attr)}}
        @update={{fn this.update attr}}
      />
    </div>
  {{/each}}
</li>
{{#if this.accountEdited}}
  <button type="button" {{on "click" this.save}}>Save</button>
{{/if}}
